@mixin _btn-state-hover-and-focus() {
  background-color: $color--btn-bg--hover;
}

%btn {
  background: $color--brand-light;
  border-radius: 4px;
  border: 0;
  color: $color--btn-text;
  cursor: pointer;
  display: inline-block;
  font: 700 1rem/1.15 $font--headings;
  letter-spacing: 1px;
  padding: 0.875rem 1.125rem;
  position: relative;
  margin: 0.5rem;
  text-align: center;
  text-transform: uppercase;
  transition: $btn-transition;
  vertical-align: middle;
  max-width: 100%;
  box-shadow:
    inset 2px 2px 2px 0 rgba(255, 255, 255, 0.5),
    7px 7px 20px 0 rgba(0, 0, 0, 0.1),
    4px 4px 5px 0 rgba(0, 0, 0, 0.1);


  &:-moz-focusring {
    @include _btn-state-hover-and-focus;

    outline: $color--brand auto 2px;
    outline-offset: 2px;
  }

  &:hover,
  &:focus-visible {
    @include _btn-state-hover-and-focus;
  }

  &:active {
    background: shade($color--brand-green, 15%);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  // Accessibility: Focus state
  &:focus-visible {
    outline: $color--brand auto 2px;
    outline-offset: 2px;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background-color: $color--brand;
    box-shadow:
      -1px -1px 5px 0 $color--violet,
      7px 7px 20px 0 #0003,
      4px 4px 5px 0 #0002;
    transition:
      background-color $btn-transition-time ease,
      box-shadow $btn-transition-time ease,
      width $btn-transition-time ease;
  }

  &:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
  }

  &:hover:before,
  &:hover:after {
    transition:
      background-color $btn-transition-time--dbl ease,
      box-shadow $btn-transition-time--dbl ease,
      width $btn-transition-time--dbl ease;
    width: 100%;
  }
}

.btn {
  @extend %btn;
}
