@mixin btn-state-hover-and-focus_() {
  border-radius: 0;
  background-color: $color-btn-bg-hover;
}

%btn {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  padding: 0.875rem 1.125rem;
  border: 0;
  border-radius: 2px;
  margin: 0.5rem;
  background: $color-brand-light padding-box;
  color: $color-btn-text;
  box-shadow:
    inset 2px 2px 2px 0 rgb(255 255 255 / 0.5),
    7px 7px 20px 0 rgb(0 0 0 / 0.1),
    4px 4px 5px 0 rgb(0 0 0 / 0.1);
  font: 700 1rem/1.15 $font-headings;
  letter-spacing: 0.09438em;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  transition: $btn-transition;

  &:hover,
  &:focus-visible {
    @include btn-state-hover-and-focus_;
  }

  &:active {
    background: shade($color-brand-green, 15%);
    color: $color-violet-faint;
    box-shadow: 0 0.0625rem 0.125rem rgb(0 0 0 / 0.24);
  }

  &:focus-visible {
    outline-offset: 4px;
  }

  &:-moz-focusring {
    @include btn-state-hover-and-focus_;

    outline-offset: 5px;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 0.125rem;
    background-color: $color-brand;
    box-shadow:
      -1px -1px 5px 0 $color-violet,
      7px 7px 20px 0 rgb(0 0 0 / 0.2),
      4px 4px 5px 0 rgb(0 0 0 / 0.1333);
    transition:
      background-color $btn-transition-time,
      box-shadow $btn-transition-time,
      width $btn-transition-time;
  }

  &:before {
    right: 2px;
  }

  &:after {
    top: inherit;
    right: inherit;
    bottom: 0;
    left: 2px;
  }

  &:-moz-focusring:before,
  &:-moz-focusring:after {
    width: calc(100% - 4px);
    transition: $btn-transition-2;
  }

  &:hover:before,
  &:hover:after,
  &:focus-visible:before,
  &:focus-visible:after {
    width: calc(100% - 4px);
    transition: $btn-transition-2;
  }
}

.btn {
  @extend %btn;
}
