%card {
  $_color--card-shadow: $color--brand;

  @include card-depth(3, $_color--card-shadow);

  align-items: center;
  background-color: $color--card-bg;
  background-image: $color--card-bg-gradient;
  border-radius: 12px;
  border: 0.1875rem solid tint($color--brand, 10%);
  color: $color--black-lightest;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  padding: 0;
  transition: all 0.4s;
  margin: 0 0 $grid-gap-size;
  width: 100%;
  -webkit-user-select: none;
  user-select: none;

  @media screen and (max-width: $breakpoint--xs) and (min-resolution: 2dppx) {
    padding: $card-padding--xs;
  }

  @media screen and (min-width: $breakpoint--m) {
    &:hover,
    &:focus-visible {
      @include card-depth(4, $_color--card-shadow);

      border-color: $color--brand;
      transform: translateY(-0.125rem) scale(1.0125);
    }
  }
}

.card {
  @extend %card;

  .content__section-title,
  .content__text {
    padding: 0 $card-padding;
  }

  // If there is any card that is being hovered over,
  // selects all other cards that are not hovered
  .content :has(&:hover) &:not(:hover) {
    @include card-depth(0);

    border-color: tint($color--brand, 20%);
  }
}
