%card {
  $_color--card-shadow: $color--brand-contrast;

  @include card-depth(2, $_color--card-shadow);

  align-items: center;
  background-color: $color--card-bg;
  background-image: $color--card-bg-gradient;
  border-radius: 40px;
  border: 0.1875rem solid $color--brand-dark;
  color: $color--black-lightest;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding: $card-padding;
  min-height: 15rem;
  transition: all 0.4s;
  margin: 0 0 $grid-gap-size;
  width: 100%;
  -webkit-user-select: none;
  user-select: none;

  @media screen and (max-width: $breakpoint--xs) and (min-resolution: 2dppx) {
    padding: $card-padding--xs;
  }

  @media screen and (min-width: $breakpoint--m) {
    &:hover,
    &:focus-within {
      @include card-depth(4, $_color--card-shadow);

      border-color: $color--brand-contrast;
      transform: translateY(-2px) scale(1.0125);
    }
  }
}

.card {
  @extend %card;

  a:not([class^='btn']) {
    @extend %content-links;
  }

  &__heading {
    color: $color--brand-dark;
    font-family: $font--headings;
    font-size: 2rem;
    letter-spacing: 0.03333334ch;
    margin: 1rem;
    max-width: 100%;
    text-transform: uppercase;
    text-align: center;

    > span {
      @media screen and (max-width: $breakpoint--xs) {
        display: block;
      }
    }
  }

  &__text {
    font-size: 1.125rem;
    margin: 0.5rem auto;
    text-align: center;
    text-wrap: balance;
    white-space: unset;
    width: 100%;

    @media screen and (min-width: $breakpoint--l) {
      font-size: 1.25rem;
    }
  }

  // If there is any card that is being hovered over,
  // selects all other cards that are not hovered
  .main :has(&:hover) &:not(:hover) {
    @include card-depth(0);

    border-color: tint($color--brand-dark, 20%);
  }
}
