$color--card-shadow_: $color-brand;

%card {
  @include card-depth(3, $color--card-shadow_);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  width: 100%;
  padding: 0;
  border: 0.1875rem solid rgba(tint($color-brand, 10%), 0.9);
  border-radius: 12px;
  margin: 0 0 $grid-gap-size;
  background-color: $color-card-bg;
  background-image: $color-card-bg-gradient;
  background-clip: padding-box;
  color: $color-black-lightest;
  -webkit-user-select: none;
  user-select: none;
  transition:
    box-shadow 0.4s,
    border-color 0.4s,
    transform 0.4s;
}

.card {
  @extend %card;

  &--focusable {
    @extend %card;

    .content__section-title,
    .content__text {
      padding: 0 0.75rem;
    }

    @media screen and (min-width: $bp-m) {
      &:-moz-focusring {
        @include card-depth(5, $color--card-shadow_);

        border-color: rgba($color-brand, 0.9);
        transform: translateY(-0.125rem) scale(1.0125);
      }

      &:hover,
      &:focus-visible {
        @include card-depth(5, $color--card-shadow_);

        border-color: rgba($color-brand, 0.9);
        transform: translateY(-0.125rem) scale(1.0125);
      }

      // If there is any card that is being hovered over,
      // selects all other cards that are not hovered
      .content:has(&:hover, &:focus-visible) &:not(:hover, :focus-visible) {
        @include card-depth(0);

        border-color: rgba(tint($color-brand, 20%), 0.9);
      }
    }
  }
}
