.firm {
  background:
    url('../img/skyscrapers-looking-up.webp')
    50% 50% / cover
    no-repeat
    fixed
    border-box
    border-box
    $color--off-white;

  &__section {
    &:first-child {
      grid-area: mediation;
    }

    &:nth-child(2) {
      grid-area: family;
    }

    &:nth-child(3) {
      grid-area: injury;
    }

    &:nth-child(4) {
      grid-area: criminal;
    }

    &:nth-child(5) {
      grid-area: workers;
    }
  }

  .content__title {
    background-color: rgba($color--white, 0.25);
    margin: 0;
    padding: 0.83em 0;
  }

  .content__text {
    margin: 0.75em 0;
    font-weight: 500;
  }
}

.firm,
.attorneys {
  .content__section-title {
    text-align: center;
    background-color: $color--brand;
    color: $color--white;
    margin: 0;
    padding: 0.75em 0;
    width: 100%;
  }
}

.attorneys {
  &__bio {
    background-color: $color--card-bg;
    background-image: $color--card-bg-gradient;
    border: 0.1875rem solid $color--brand;
    border-radius: 12px;
  }

  .content__text {
    padding: 0 1rem;
  }
}
