.firm {
  background: url('../img/skyscrapers-1422x1050.webp') 50% 50% / cover no-repeat
    fixed border-box border-box $color-off-white;

  @include target-phones-and-tiny-width-screens {
    background-image: none;
  }

  &__section {
    &:first-child {
      grid-area: mediation;
    }

    &:nth-child(2) {
      grid-area: family;
    }

    &:nth-child(3) {
      grid-area: injury;
    }

    &:nth-child(4) {
      grid-area: criminal;
    }

    &:nth-child(5) {
      grid-area: workers;
    }
  }

  .content__title {
    padding: 0.83em 0;
    margin: 0;
    background-color: rgba($color-white, 0.25);
    text-shadow: 1px 1px 0.625rem #fff;
  }

  .content__text {
    margin: 0.75em 0;
    font-weight: 500;
  }
}

.firm,
.attorneys,
.qdro {
  .content__section-title {
    width: 100%;
    padding: 0.75em 0.25rem;
    margin: 0;
    background-color: $color-brand;
    color: $color-white;
    text-align: center;
  }
}

.attorneys,
.qdro {
  &__bio {
    border: 0.1875rem solid $color-brand;
    border-radius: 12px;
    background-color: $color-card-bg;
    background-image: $color-card-bg-gradient;
  }

  .content__text {
    padding: 0 1rem;

    &:first-child {
      margin-top: 1.5em;
    }
  }
}
