.tothemenu {
  &__caption {
    color: $color--brand;
    font-family: $font--headings;
    font-size: 1.125rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.5ch;
    line-height: 1.2;
    font-weight: 700;
    margin: 0.5rem 0 1rem;

    > span {
      letter-spacing: 0.25ch;

      &:before,
      &:after {
        position: relative;
        font-family: $font--main-stack;
      }

      &:first-child {
        &:before,
        &:after {
          content: $symbol--emojis--silverwear;
          font-size: 1.6875rem;
        }

        &:before {
          left: -3px;
        }

        &:after {
          left: 3px;
        }
      }

      &:last-child {
        &:before,
        &:after {
          font-size: 2rem;
          font-weight: 900;
          top: 4px;
        }

        &:before {
          content: $symbol--arrows--curved-left;
          left: -4px;
        }

        &:after {
          content: $symbol--arrows--curved-right;
          left: 4px;
        }
      }
    }
  }
}

.facebook {
  background:
    url('../img/stock/pancake-syrup-1080w.webp')
    0 0 / cover
    no-repeat
    fixed
    border-box
    border-box
    $color--card-bg;

  @media screen
      and (max-width: $breakpoint--l)
      and (min-resolution: 2dppx)
      and (orientation: portrait)
  {
    background-attachment: scroll;
  }

  &:hover,
  &:focus-within {
    transform: none;
  }

  &__link {
    border: 4px solid $color--brand-dark;
    border-radius: 50%;
    display: block;
    transition:
      border-color 0.6s ease-out,
      box-shadow 0.6s ease-out,
      opacity 0.6s ease-out;
    opacity: 0.6;

    &:hover,
    &:focus-within,
    &:focus-visible {
      @include card-depth(4, $color--brand-contrast);

      border-color: $color--brand-white;
      opacity: 0.88;
    }

    &:focus-visible {
      outline: 2px solid $color--brand-contrast;
      outline-offset: 4px;
    }

    &:active {
      border-color: shade($color--brand-white, 20%);
      opacity: 1;
    }
  }
}

.review-card-list {
  @include list-reset();
}

.grid-reviews {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17.5em, 1fr));
  gap: 0 $grid-gap-size;

  @media screen and (max-width: $breakpoint--xxxs) {
    grid-template-columns: repeat(auto-fit, minmax(7.75em, 1fr));
  }
}

.review {
  flex-wrap: nowrap;
  justify-content: space-between;
  text-align: center;

  > figure {
    margin: 0.5rem auto;
  }

  &__avatar {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
  }

  &__name {
    color: $color--brand-dark;
    font-size: 1.25rem;
    font-family: $font--headings;

    @media screen and (min-width: $breakpoint--l) {
      font-size: 1.375rem;
    }

    > h3 {
      margin: 0.5rem auto;
    }
  }

  &__rating {
    margin-bottom: 0;
  }

  &__rating-stars {
    color: $color--yellow;
    font-size: 2rem;
    transition: all 0.4s;
  }

  @media screen and (min-width: $breakpoint--m) {
    &:hover &__rating-stars,
    &:focus-within &__rating-stars {
      color: $color--orange;
      font-size: 2.25rem;
    }
  }

  &__rating-caption {
    font-style: italic;

    > h5 {
      margin-top: 0;
    }
  }

  &__see-more-link {
    color: $color--brand-original;
    font-family: $font--headings;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 1rem;
    transition: $link-transition;

    &:hover {
      color: $color--brand-contrast;
    }

    &:active {
      color: shade($color--brand-contrast, 20%);
    }
  }
}

.location {
  &__directions-link {
    display: block;
    font-weight: 700;
    margin-top: 0.5rem;

    > .icon--map-pin {
      margin-left: 0;
    }
  }

  &__map {
    border: 1px solid $color--brand-dark;
    height: 18.75rem;
    height: min(max(9.5rem, calc(38vh - 5rem)), 28.125rem);
    height: clamp(9.5rem, calc(38vh - 5rem), 28.125rem);
    min-width: 18.75rem;
    min-width: min(max(13.75rem, calc(75vw - 1rem)), 52rem);
    min-width: clamp(13.75rem, calc(75vw - 1rem), 52rem);
  }

  &__map-caption {
    margin-top: 1rem;
    text-align: center;
    font-style: italic;
  }

  > .card__text {
    -webkit-user-select: text;
    user-select: text;

    > span:first-child {
      font-style: italic;
      display: block;
    }
  }
}
