.hero {
  grid-area: hero;
  overflow: hidden;
  width: 100%;
  min-height: calc(100vh - 7.6875rem);
  min-height: calc(100svh - 7.6875rem);
  border: 0;
  margin: 0;
  background: url('../img/bridge-sunset-bg-980x676.webp') 50% 50% / cover
    no-repeat fixed border-box border-box $color-off-white;
  image-rendering: smooth;
  image-rendering: high-quality;
  -webkit-user-select: none;
  user-select: none;
  transition: opacity $opacity-fade-transition-time;

  @media screen and (max-width: $bp-237) {
    min-height: calc(100vh - 9.6875rem);
    min-height: calc(100svh - 9.6875rem);
  }

  @media screen and (min-width: $bp-309) and (max-resolution: 144dpi),
    screen and (min-width: $bp-309) and (max-resolution: 1.5dppx),
    screen and (min-width: $bp-max-phone-width-plusone) {
    min-height: calc(100vh - 9.875rem);
    min-height: calc(100svh - 9.875rem);
  }

  @media screen and (min-width: $bp-widescreen) {
    background-image: url('../img/bridge-sunset-bg-980x1040.webp');
  }

  @media screen and (min-width: $bp-1080) {
    min-height: calc(100vh - 13.375rem);
    min-height: calc(100svh - 13.375rem);
  }

  @media screen and (min-width: $bp-1200) {
    background-image: url('../img/bridge-sunset-bg-1429x1055.webp');
  }

  > .container {
    @include zoom-in($timing: 3.5s, $delay: 0.6s);

    position: relative;
    height: 100%;
  }

  &__text-box {
    @include fade($timing: 2s);

    position: relative;
    top: 50%;
    left: 50%;
    min-width: min(17.5rem, 100%);
    max-width: 40%;
    border-radius: 10px;
    background: rgba($color-tan, 0.83);
    transform: translate(-50%, -50%);

    @media screen and (max-width: $bp-166) {
      top: 57.5%;
      background: rgba($color-tan, 0.8);
    }

    @media screen and (min-width: $bp-widescreen) {
      top: 22%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__text {
    padding: 0.75rem 1.5rem;
    margin: 0;
    color: $color-black-lighter;
    font-family: $font-fast-load;
    font-size: 1.125rem;
    font-weight: 700;
    text-align: center;

    @media screen and (max-width: $bp-256) and (min-height: $bp-heightplusone) {
      padding: 0.625rem 1.25rem;
      font-size: 0.875rem;
    }

    @media screen and (max-width: $bp-186),
      screen and (max-height: $bp-height) {
      padding: 0.5rem 1rem;
      font-size: 0.75rem;
    }

    @media screen and (max-width: $bp-166) and (min-height: $bp-heightplusone) {
      padding: 0.5rem 0.625rem;
      font-size: 0.6875rem;
    }

    @media screen and (min-width: $bp-widescreen) and (min-height: $bp-heightplusone) {
      padding: 1rem 2rem;
      font-size: 1.25rem;
    }
  }
}
