.legal {
  padding: 1.25rem 2.5rem;

  &__wrapper {
    width: 100%;
  }

  &__section {
    scroll-margin-top: 15.5rem; // Adjust for nav header height
  }

  &__text {
    text-align: justify;
    text-wrap: pretty;
    white-space-collapse: collapse;
    margin: 1rem auto;
  }

  &__toc-link {

  }

  &__updated {
    font-style: italic;
  }

  h3 {
    font-size: 1.375rem;
  }

  table {
    width: 100%;
    text-align: left;
  }

  tr td {
    padding: 0.25rem;

    &:last-child {
      text-align: right;
    }
  }

  .tel,
  .email,
  &__toc-link, {
    transition: $link-transition;

    &,
    &:link,
    &:visited {
      color: $color--brand;
    }

    &:hover,
    &:focus-visible {
      color: $color--blue;
      text-decoration: underline;
    }
  }

  .tel:before {
    content: '';
    margin: 0;
  }
}
