%qdro-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  font-weight: 500;
}

.qdro {
  &__section {
    border: 0.1875rem solid $color-brand;
    border-radius: 12px;
    margin-bottom: 2rem;

    .content__text {
      margin: 0 !important;

      @media screen and (max-width: 39.5rem) {
        text-align: center;
      }
    }

    hr {
      width: 90%;
      margin: 0 auto 0.5rem;
      background: $color-brand-lightest;
    }
  }

  &__info {
    @extend %qdro-info;

    &--brand {
      @extend %qdro-info;

      h4 {
        margin: 2rem auto 0;
        font-size: calc(2.2 * var(--default-text-size-static));
        font-size: calc(2.2 * var(--default-text-size-fb));
        font-size: clamp(1.375rem, calc(0.25rem + 3vw), 2rem);
        text-align: center;
      }
    }

    .email {
      display: inline-block;
    }
  }

  &__brand-q {
    $square-size_: 7.75rem;
    $square-offset_: 1.25rem;

    position: relative;
    top: $square-offset_;
    left: $square-offset_;
    width: min($square-size_, 100%);
    height: $square-size_;

    background-color: rgba(#4a5b6e, 0.3);

    > div {
      position: absolute;
      top: -#{$square-offset_};
      left: -#{$square-offset_};
      display: flex;
      align-items: center;
      justify-content: center;
      width: min($square-size_, 100%);
      height: $square-size_;
      background-color: rgba($color-silver, 1);

      > span {
        color: $color-white;
        font-family: Arial, sans-serif;
        font-size: 5rem;
        font-weight: 700;
        text-shadow: 4px 4px 12px $color-brand;
      }
    }
  }

  &__btn-wrapper {
    text-align: center;

    .btn {
      margin-bottom: 1em;
    }
  }
}
