{
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "useTabs": false,
  "quoteProps": "consistent",
  "trailingComma": "none",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "proseWrap": "always",
  "singleAttributePerLine": false,
  "overrides": [{
      "files": "*.md",
      "options": {
        "proseWrap": "preserve"
      }
  }]
}
