

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }

  a,
  button {
    transition: none !important;
  }

  .homepage .nav__menu,
  .homepage .hero > .container,
  .homepage .hero__text-box,
  .nav__burger-btn {
    animation: none !important;
  }
}

@media
    screen
    and (max-width: $breakpoint--max-phone-width)
    and (-webkit-min-device-pixel-ratio: 2),

    screen
    and (max-width: $breakpoint--max-phone-width)
    and (min-resolution: 192dpi),

    screen
    and (max-width: $breakpoint--max-phone-width)
    and (min-resolution: 2dppx),

    (prefers-reduced-motion: reduce)
{
  .hero,
  .firm {
    background-attachment: scroll !important;
  }

  .homepage .hero > .container,
  .homepage .hero__text-box {
    animation: none;
  }
}
