:root {
  --default-text-size-static: 1em;
  --default-text-size-fb: min(max(1em, calc(0.5rem + 0.5vw)), 1.375rem);
  --default-text-size: clamp(1em, calc(0.5rem + 0.5vw), 1.375rem);
  --masthead-fluid-height: clamp(8rem, 12vw, 15rem);
  --masthead-fluid-height-fb: min(max(8rem, 12vw), 15rem);
  --burger-btn-size-multiple: 1;
}
