// Layout breakpoints for width
$bp-166: 10.375em;
$bp-186: 11.625em;
$bp-228: 14.25em;
$bp-256: 16em;
$bp-258: 16.125em;
$bp-268: 16.75em;
$bp-308: 19.25em;
$bp-390: 24.375em;
$bp-max-phone-width: 27.25em; // 436px
$bp-max-phone-width-plusone: 27.3125em; // 437px
$bp-560: 35em;
$bp-672: 42em;
$bp-768: 48em; // Medium size breakpoint
$bp-widescreen: 51.3125em; // 821px - Nav toggles here 821px
$bp-992: 62em;
$bp-1080: 67.5em;
$bp-1200: 75em;
$bp-1280: 80em;

// Height breakpoints
$bp-height-tiny: 22.75em; // 364px
$bp-phone-height-landscape: $bp-max-phone-width;
$bp-height: 37.5em; // 600px
$bp-heightplusone: 37.5625em; // 601px

// Colors
$color-brand: #223752;
$color-brand-lightest: rgb(11 47 91 / 0.36);
$color-brand-light: rgb(11 47 91 / 0.76);
$color-brand-green: #2d535c;
$color-green-lime: #0db694;
$color-violet: #cfb2f3; // brand-green contrast ??
$color-purple: #881c9e;
$color-blue-faint: #c0faff;
$color-blue: #008ecc;
$color-blue-light: #00b1ff;
$color-violet-faint: #dbddea;
$color-tan: #c5c5bb;
$color-brand-contrast: #b6c9eb;
$color-black: #0a0a0a;
$color-black-light: #222;
$color-black-lighter: #323232;
$color-black-lightest: #333445;
$color-off-white: #f3faff;
$color-white: #f0fafa;
$color-faint-blue: #d0e5de;
$color-silver: #737e8b;

$color-body-text: $color-black-light;
$color-body-heading: $color-brand;
$color-body-bg: $color-off-white;
$color-nav-bg: $color-tan;

$color-nav-bg-gradient: linear-gradient(
  135deg,
  $color-nav-bg,
  shade($color-nav-bg, 12%)
);

$color-footer-bg: $color-brand;
$color-footer-bg-gradient: linear-gradient(
  135deg,
  $color-footer-bg,
  shade($color-footer-bg, 30%)
);

$color-btn-text: #fff;
$color-btn-bg: $color-brand;
$color-btn-bg-hover: $color-brand-light;
$color-btn-text-hover: #fff;
$color-btn-hover-border: $color-green-lime;
$color-btn-hover-border-glow: $color-violet;

$color-card-bg: rgba($color-off-white, 1);

$color-contact-bg-gradient: linear-gradient(
  135deg,
  rgba($color-tan, 0.8),
  rgba(shade($color-tan, 7.5%), 1)
);

$font-main-stack:
  Roboto,
  system-ui,
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  sans-serif,
  'Apple Color Emoji',
  'Segoe UI Emoji',
  'Segoe UI Symbol';
$font-headings:
  Lato,
  system-ui,
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  sans-serif;
$font-fast-load:
  Helvetica,
  'Helvetica Neue',
  Arial,
  'Lucida Grande',
  system-ui,
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  sans-serif;
$font-serif: 'Minion Pro', 'Times New Roman', serif;

$link-transition-time: 0.4s;
$link-transition:
  color $link-transition-time,
  border-bottom-color $link-transition-time;

$link-transition-time-nav: 0.5s;
$link-transition-nav:
  background-color $link-transition-time-nav,
  border-color $link-transition-time-nav,
  color $link-transition-time-nav;

$icon-transition-time: 0.2s;
$icon-transition: color $icon-transition-time ease-out;

$btn-transition-time: 0.4s;
$btn-transition-2-time: 0.55s;
$btn-transition:
  background-color $btn-transition-time,
  box-shadow $btn-transition-time,
  color $btn-transition-time;

$btn-transition-2:
  box-shadow $btn-transition-2-time,
  width $btn-transition-2-time;

$nav-slide-animation-time: 0.6s;
$nav-dropdown-animation-time: 0.3s;
$nav-dropdown-animation-func: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$nav-dropdown-animation-2-delay: $nav-dropdown-animation-time - 0.15s;

$opacity-fade-transition-time: $nav-slide-animation-time +
  $nav-dropdown-animation-2-delay;

$container-padding-x: 1rem;

$nav-link-fontsize-fb-static: 1.375rem;
$nav-link-fontsize-fb: min(max(1.375rem, calc(0.125rem + 1.8125vw)), 1.75rem);
$nav-link-fontsize: clamp(1.375rem, calc(0.125rem + 1.8125vw), 1.75rem);

$iframe-border: 4px ridge $color-brand-green;
$iframe-border-radius: 4px;

$grid-gap-size: 2rem;

$burger-transition: all $btn-transition-time ease-out;

$symbol-quotes-double-thick-left: '\275D';
$symbol-quotes-double-thick-right: '\275E';
$symbol-telephone: '\260F';
$symbol-mail: '\2709';
