// Layout viewport width breakpoint sizes
// Breakpoints based on specific breakpoints in the layout
$breakpoint--228: 14.25em;
$breakpoint--304: 19em;
$breakpoint--336: 21em;
$breakpoint--390: 24.375em;
$breakpoint--430: 26.875em;
$breakpoint--476: 29.75em; // This and larger has "Restaurant" in title bar
$breakpoint--640: 40em;
$breakpoint--756: 47.25em;
$breakpoint--768: 48em;
$breakpoint--878: 54.875rem; // Nav toggles here
$breakpoint--1080: 67.5em;
$breakpoint--1280: 80em;
$breakpoint--1440: 90em;

// Breakpoints based on general device sizes
$breakpoint--tiny: 15.75em; // 252px
$breakpoint--xxxs: 17.5em;// 280px
$breakpoint--xxs: 23.5em; // 376px
$breakpoint--xs: 35em;    // 560px
$breakpoint--s: 42em;     // 672px
$breakpoint--m: $breakpoint--768;
$breakpoint--l: 52em;     // 832px
$breakpoint--xl: 62em;    // 992px
$breakpoint--xxl: 75em;   // 1200px
$breakpoint--xxxl: $breakpoint--1440;

$breakpoint--widescreen: $breakpoint--878;
$breakpoint--max-phone-width: 27.25em;

// Colors
$color--brand: #223752;
$color--brand-lightest: rgba(11, 47, 91, 0.36);
$color--brand-light: rgba(11, 47, 91, 0.76);
$color--brand-green: #2D535C;
$color--green-lime: #0DB694;
$color--violet: #CFB2F3; // brand-green contrast ??
$color--purple: #881C9E;
$color--blue-faint: #C0FAFF;
$color--blue: #008ecc;
$color--blue-light: #00B1FF;
$color--violet-faint: #DBDDEA;
$color--tan: #C5C5BB;
$color--brand-contrast: #B6C9EB;
$color--black: #0a0a0a;
$color--black-light: #222;
$color--black-lighter: #323232;
$color--black-lightest: #333445;
$color--off-white: #F3FAFF;
$color--off-white-2: #E2F1ED;
$color--white: #f0fafa;
$color--faint-blue: #D0E5DE;

$color--body-text: $color--black-light;
$color--body-heading: $color--brand;
$color--body-bg: $color--off-white;

$color--nav-bg: $color--tan;

$color--nav-bg-gradient:
  linear-gradient(
    135deg,
    $color--nav-bg,
    shade($color--nav-bg, 12%)
  );

$color--footer-bg: $color--brand;
$color--footer-bg-gradient:
  linear-gradient(
    135deg,
    $color--footer-bg,
    shade($color--footer-bg, 30%)
  );

$color--btn-text: $color--white;
$color--btn-bg: $color--brand;
$color--btn-bg--hover: shade($color--brand-green, 5%);
$color--btn-border: $color--faint-blue;
$color--btn-border--hover: $color--brand;

$font--main-stack:
  'Roboto', 'Verdana', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
  sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font--headings:
  'Lato', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
$font--serif:
  'Georgia', serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI';


$link-transition-time: 0.4s;
$link-transition-time--nav: 0.6s;
$link-transition: all $link-transition-time ease-in-out;
$link-transition--nav: all $link-transition-time--nav ease-in-out;
$icon-transition-time: 0.2s;
$icon-transition: all $icon-transition-time ease-out;

$btn-transition-time: 333ms;
$btn-transition: all $btn-transition-time ease;

// Old vars TODO: Remove unused

$color--brand-dark: #3A3044;




$color--card-bg: $color--off-white;
$color--card-bg-gradient:
  linear-gradient(
    180deg,
    rgba($color--card-bg, 1) 0%,
    rgba($color--brand-light, 0.3) 90%,
    rgba($color--brand-dark, 0.167) 100%
  );



$header-padding-x: 0;
$header-padding-y: 0.5rem;
$container-padding-x: 1rem;


$nav-link-fontsize--fb-static: 1.375rem;
$nav-link-fontsize--fb: min(max(1.25rem, calc(0.125rem + 1.8125vw)), 1.625rem);
$nav-link-fontsize: clamp(1.25rem, calc(0.125rem + 1.8125vw), 1.625rem);

$card-padding: 1.25rem;

$card-padding--xs: 0.75rem;

$grid-gap-size: 2.5rem;

$footer-padding-y: 2rem;

$burger-transition: all $btn-transition-time ease-out;

$symbol--quotes--double-thick-left: '\275D';
$symbol--quotes--double-thick-right: '\275E';
