/* ///////////////////////////////////////////////////////////////////////
// -------------------------------------------------------------------- //
// -- #DEFAULT STYLES ------------------------------------------------- //
// -------------------------------------------------------------------- //
// -- Opinonated defaults and browser normalization ------------------- //
// -------------------------------------------------------------------- //
// //////////////////////////////////////////////////////////////////// */

html {
  overflow: hidden scroll;
  box-sizing: border-box;
  font-family: $font-main-stack;
  font-size: 1em;
  line-height: 1.4;
  overflow-wrap: break-word;
  overflow-anchor: none;
  cursor: default;
  color-scheme: only light;
  scrollbar-gutter: stable;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

*,
:before,
:after {
  box-sizing: inherit;
  background-repeat: no-repeat;
}

:before,
:after {
  vertical-align: inherit;
  text-decoration: inherit;
}

::-moz-selection {
  background: $color-brand;
  color: $color-white;
  text-shadow: none;
}

::selection {
  background: $color-brand;
  color: $color-white;
  text-shadow: none;
}

:focus {
  outline: 0;
}

:focus-visible {
  outline: 2px solid $color-brand;
  outline-offset: 2px;
}

:-moz-focusring {
  outline: 2px solid $color-brand;
  outline-offset: 3px;
}

body {
  overflow-x: clip;
  margin: 0;
  background: $body-color-bg;
  color: $body-color-text;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
blockquote {
  color: $body-color-heading;
  font-family: $font-headings;
  font-weight: 900;
  white-space: unset;
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

blockquote p {
  &:before,
  &:after {
    color: rgba($color-black-lightest, 0.9);
  }

  &:before {
    content: $symbol-quotes-double-thick-left;
  }

  &:after {
    content: $symbol-quotes-double-thick-right;
  }
}

table {
  vertical-align: middle;
  border-spacing: 0;
  border-collapse: collapse;
  border-color: inherit;
  text-indent: 0;
  font-variant-numeric: tabular-nums;
}

abbr[title] {
  border-bottom: none;
  text-decoration: none;
}

// Add the correct font weight in Chrome, Edge, and Safari.
b,
strong {
  font-weight: bolder;
  line-height: inherit;
}

// Add the correct font size in all browsers.

small {
  font-size: 80%;
  line-height: inherit;
}

// Prevent `sub` and `sup` elements from affecting the line height in
// all browsers.

sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  display: block;
  border-style: none;
  background-size: cover;
  background-repeat: no-repeat;
  image-rendering: smooth;
  font-style: italic;
  shape-margin: 1rem;
}

textarea {
  resize: vertical;
}

///
// 1. Change the font styles in all browsers.
// 2. Remove the margin in Firefox and Safari.
///

button,
input,
optgroup,
select,
textarea {
  margin: 0; // 2
  font-family: inherit; // 1
  font-size: 100%; // 1
  line-height: 1.15; // 1
}

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex='0'] {
  touch-action: manipulation;
}

a {
  cursor: pointer;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a[href^='tel:'],
a[href^='mailto:'] {
  &:before {
    margin-right: 0.5rem;
    font-weight: inherit;
  }

  &:hover {
    border-bottom-color: transparent !important;
  }
}

a[href^='tel:']:before {
  content: $symbol-telephone;
}

a[href^='mailto:']:before {
  content: $symbol-mail;
  position: relative;
  top: 1px;
}

// Remove the inheritance of text transform in Edge, Firefox, and IE.

button,
select {
  text-transform: none;
}

// Correct the inability to style clickable types in iOS and Safari.

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

legend {
  padding: 0;
}

[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

:where(details > summary:first-of-type) {
  display: list-item;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

::placeholder {
  color: inherit;
  opacity: 0.54;
}

:invalid {
  box-shadow: none;
}

// A better looking default horizontal rule that looks the same in all browsers

hr {
  display: block;
  overflow: hidden;
  box-sizing: content-box;
  height: 0;
  padding: 0;
  border: 0;
  border-top: 2px solid currentcolor;
  margin: 1em 0;
  color: inherit;
}

iframe {
  border: 0;
}

iframe,
img,
svg,
video {
  vertical-align: middle;
}

iframe,
input,
img,
select,
textarea,
video {
  max-width: 100%;
  height: auto;
}

fieldset {
  padding: 0;
  border: 0;
  margin: 0;
}

input:disabled,
select:disabled,
textarea:disabled {
  background-color: #e6e6e6;
  cursor: not-allowed;
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

nav ol,
nav ul,
footer ol,
footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

dl dl,
dl ol,
dl ul,
ol dl,
ol ol,
ol ul,
ul dl,
ul ol,
ul ul {
  margin: 0;
}

// Prevent VoiceOver from ignoring list semantics in Safari

nav li:before {
  content: '\200B';
  float: left;
}

address {
  font-style: normal;
}

svg:not(:root) {
  overflow: hidden;
}

svg:not([fill]) {
  fill: currentcolor;
}

[aria-busy='true'] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled='true'],
[disabled] {
  cursor: not-allowed;
}

[aria-hidden='false'][hidden] {
  display: initial;

  &:not(:focus) {
    position: absolute;
    clip: rect(0, 0, 0, 0);
  }
}
