.content {
  grid-area: content;

  &__title {
    scroll-margin-top: 15.5rem; // Adjust for nav header height
    text-align: center;
    font-size: 1.75rem;
  }

  &__map-wrapper {
    position: relative;
    width: 100%;
    padding-top: 75%; /* Aspect ratio of iframe (height/width * 100%) */
    margin: auto;
  }

  &__map-frame {
    border: 0.25rem solid $color--brand;
    border-radius: 16px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}
