@mixin _content-link-hover-focus-state() {
  color: $color--blue;
  text-decoration: underline;
  text-decoration-skip-ink: auto;
}

.content {
  grid-area: content;

  &__title {
    scroll-margin-top: 15.5rem; // Adjust for nav header height
    text-align: center;
    font-size: 2rem;
  }

  &__link {
    transition: $link-transition;

    &,
    &:link,
    &:visited {
      color: $color--green-lime;
    }

    &:-moz-focusring {
      @include _content-link-hover-focus-state;
    }

    &:hover,
    &:focus-visible {
      @include _content-link-hover-focus-state;
    }

    &:active {
      color: shade($color--blue-light, 20%);
    }

    &--contact {
      @extend %contact-links;
    }
  }

  &__map-wrapper {
    position: relative;
    width: 100%;
    padding-top: 75%; /* Aspect ratio of iframe (height/width * 100%) */

    @media screen and (max-width: $breakpoint--228) {
      display: none;
      visibility: hidden;
    }
  }

  &__map-frame {
    border: 0.25rem solid $color--brand;
    border-radius: 16px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

.article {
  scroll-margin-top: 15.5rem; // Adjust for nav header height
}

.contact {
  &__section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__office-title {
    font-size: 1.375rem;
    margin-top: 0;
  }

  &__text {
    // Nothing here yet


    .tel {
      display: block;
      width: -moz-fit-content;
      width: fit-content;
      margin: 0 auto 0.125rem;

      &:before {
        font-weight: 700;
      }
    }
  }

  &__address {
    > .contact__text {
      &:first-child {
        margin-top: 0;
      }
    }
  }
}
