html {
  box-sizing: border-box;
  color: $color--body-text;
  cursor: default;
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.4;
  overflow: hidden scroll;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  -webkit-tap-highlight-color: transparent;
  // Prevent adjustments of font size after orientation changes in iOS.
  -webkit-text-size-adjust: 100%;
  word-wrap: break-word;
}

///
// Remove text-shadow in selection highlight:
// https://twitter.com/miketaylr/status/12228805301
// Vendor-prefixed and regular ::selection selectors cannot be combined:
// https://stackoverflow.com/a/16982510/7133471
// Customize the background color to match your design.
///

::-moz-selection {
  background: $color--brand-light;
  color: #000;
  text-shadow: none;
}

::selection {
  background: $color--brand-light;
  color: #000;
  text-shadow: none;
}

*,
*:before,
*:after {
  background-repeat: no-repeat;
  box-sizing: inherit;
}

*:before,
*:after {
  text-decoration: inherit;
  vertical-align: inherit;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $color--body-bg;
  overflow-x: clip;
  font-family: $font--main-stack;
  margin: 0;
  text-rendering: optimizeLegibility;
}


// Correct the font size and margin on `h1` elements within `section` and
// `article` contexts in Chrome, Firefox, and Safari.
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
blockquote {
  font-family: $font--headings;
  text-wrap: balance;
  white-space: unset;
}

blockquote p {
  &:before,
  &:after {
    color: $color--black-lightest;
    opacity: 0.9;
  }

  &:before {
    content: $symbol--quotes--double-thick-left;
  }

  &:after {
    content: $symbol--quotes--double-thick-right;
  }
}

table {
  border-collapse: collapse;
  font-variant-numeric: tabular-nums;
  vertical-align: middle;
}

dialog:not([open]),
template {
  display: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: none;
}

// Add the correct font weight in Chrome, Edge, and Safari.
b,
strong {
  font-weight: bolder;
  line-height: inherit;
}

i,
em {
  font-style: italic;
  line-height: inherit;
}


// Add the correct font size in all browsers.

small {
  font-size: 80%;
  line-height: inherit;
}

// Prevent `sub` and `sup` elements from affecting the line height in
// all browsers.

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}


img {
  border-style: none;
  -ms-interpolation-mode: bicubic;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
}

img,
picture {
  display: block;
}

textarea {
  resize: vertical;
}

///
// 1. Change the font styles in all browsers.
// 2. Remove the margin in Firefox and Safari.
///

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; // 1
  font-size: 100%; // 1
  line-height: 1.15; // 1
  margin: 0; // 2
}

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex='0'] {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

a {
  background-color: transparent; // Remove the gray background on active links in IE 10.
  cursor: pointer;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a[href^='tel:']:before {
  content: '\260F';
  margin-right: 8px;
}


// Remove the inheritance of text transform in Edge, Firefox, and IE.

button,
select {
  text-transform: none;
}


// Correct the inability to style clickable types in iOS and Safari.

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}


// Remove the inner border and padding in Firefox.

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}


// Restore the focus styles unset by the previous rule.

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}


///
// 1. Correct the text wrapping in Edge and IE.
// 2. Correct the color inheritance from `fieldset` elements in IE.
// 3. Remove the padding so developers are not caught out when they zero out
//    `fieldset` elements in all browsers.
///

legend {
  box-sizing: border-box; // 1
  color: inherit; // 2
  display: table; // 1
  max-width: 100%; // 1
  padding: 0; // 3
  white-space: normal; // 1
}

// Add the correct vertical alignment in Chrome, Firefox, and Opera.

progress {
  display: inline-block;
  vertical-align: baseline;
}

[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}


// Correct the cursor style of increment and decrement buttons in Chrome.

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

details {
  display: block;
}

summary {
  display: list-item;
}

::-webkit-input-placeholder {
  color: #cacaca;
}

::-moz-placeholder {
  color: #cacaca;
}

:-ms-input-placeholder {
  color: #cacaca;
}

::-ms-input-placeholder {
  color: #cacaca;
}

::placeholder {
  color: #cacaca;
}

///
// 1. Correct the inability to style clickable types in iOS and Safari.
// 2. Change font properties to `inherit` in Safari.
///

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

::-ms-expand {
  display: none;
}

:-moz-ui-invalid {
  box-shadow: none;
}


// Add the correct display in IE 10

template {
  display: none;
}

// A better looking default horizontal rule

hr {
  box-sizing: content-box;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  overflow: visible;
}

// Remove the gap between audio, canvas, iframes,
// images, videos and the bottom of their containers:
// https://github.com/h5bp/html5-boilerplate/issues/440

audio,
canvas,
iframe,
img,
picture,
svg,
video {
  vertical-align: middle;
}

audio,
embed,
iframe,
input,
img,
object,
picture,
select,
textarea,
video {
  max-width: 100%;
}

iframe,
img,
input,
picture,
select,
textarea {
  height: auto;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

input:disabled,
select:disabled,
textarea:disabled {
  background-color: #e6e6e6;
  cursor: not-allowed;
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

menu,
nav ul,
footer ol,
footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

dl dl,
dl ol,
dl ul,
ol dl,
ol ol,
ol ul,
ul dl,
ul ol,
ul ul {
  margin: 0;
}

address {
  font-style: normal;
}

svg:not(:root) {
  overflow: hidden;
}

svg:not([fill]) {
  fill: currentColor;
}

[aria-busy='true'] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled='true'],
[disabled] {
  cursor: not-allowed;
}

[aria-hidden='false'][hidden] {
  display: initial;
}

[aria-hidden='false'][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

/// ========================================================================
/// Print styles.
/// Inlined to avoid the additional HTTP request:
/// https://www.phpied.com/delay-loading-your-print-css/
/// ========================================================================

@media print {
  *,
  *:before,
  *:after {
    background: #FFF !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: ' (' attr(href) ')';
  }

  abbr[title]:after {
    content: ' (' attr(title) ')';
  }

  // Don't show links that are fragment identifiers,
  // or use the `javascript:` pseudo protocol
  a[href^='#']:after,
  a[href^='javascript:']:after {
    content: '';
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /// Printing Tables:
  /// https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
