.footer {
  grid-area: footer;
  align-self: end;
  width: 100%;
  padding: 2rem 0;
  border: 0;
  margin: 0;
  background: $color-footer-bg-gradient $color-footer-bg;
  color: $color-off-white;
  font-size: 1rem;
  line-height: 1.6;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
  transition: opacity $opacity-fade-transition-time;

  @media screen and (min-width: $bp-992) {
    text-align: left;
  }

  > .container {
    position: relative;
  }

  a {
    color: $color-off-white;
    line-height: 2;
  }

  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    margin: 0;
  }

  &__col {
    @extend %footer-column;

    &--subnav {
      @extend %footer-column;

      @media screen and (min-width: $bp-992) {
        display: flex;
        align-items: center;
      }
    }

    &--legal {
      @extend %footer-column;

      padding: 0;

      @media screen and (min-width: $bp-992) {
        flex-grow: 1;
        flex-basis: 0;
        text-align: right;
      }
    }
  }

  &__menu {
    vertical-align: baseline;

    @media screen and (min-width: $bp-560) {
      column-count: 2;
      column-gap: 2rem;
    }

    @media screen and (min-width: $bp-992) {
      column-gap: 4rem;
    }
  }

  &__link {
    @extend %footer-links;

    &--legal {
      @extend %footer-links;

      text-decoration: none;

      &:link,
      &:visited {
        text-decoration: underline;
      }
    }
  }

  &__logo {
    display: inline-block;
    margin: 1rem auto 0;

    @media screen and (min-width: $bp-992) {
      margin: 0;
    }

    > img {
      box-sizing: content-box;
    }
  }

  &__bottom {
    width: 100%;
    padding-top: 2rem;
    border-top: 1px solid hsla(0, 0%, 100%, 0.3);
    margin-top: 2rem;
  }

  &__social-menu {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;

    @media screen and (min-width: $bp-992) {
      justify-content: flex-start;
    }

    > li {
      margin: 0.25rem 0.25rem 0.25rem 1.25rem;

      &:first-child {
        margin-left: 0;
      }

      > a {
        @extend %footer-links;

        transition: $icon-transition;
      }
    }

    svg {
      width: auto;
      height: 2rem;
      transition: $icon-transition;
    }
  }

  &__legal-menu {
    vertical-align: baseline;

    // stylelint-disable-next-line no-descending-specificity
    > li {
      display: inline-block;
      margin: 0.125rem 0.5rem;
      font-size: 0.8125rem;

      @media screen and (min-width: $bp-768) {
        margin: 0;

        &:not(:first-child) {
          margin: 0 0 0 1rem;
        }
      }
    }
  }

  &__info {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;

    &:nth-child(2) {
      margin-top: 0.3125rem;
    }

    > strong {
      letter-spacing: 0.1ch;
      text-transform: uppercase;
    }

    .adr {
      .icon--map-pin {
        height: 0.8rem;
        margin: -0.1875rem 0.125rem 0 0.75rem;
      }

      a {
        &:focus {
          outline: 0;
        }

        &:-moz-focusring {
          color: $color-brand-contrast;
          outline: 0;
        }

        &:focus-visible {
          color: $color-brand-contrast;
        }
      }

      @media screen and (max-width: $bp-390) {
        a {
          display: inline-block;
        }
      }
    }
  }

  &__self-link {
    @extend %links-footer-base;

    text-transform: uppercase;

    &:focus {
      outline: 0;
    }
  }
}

@include target-phones-and-tiny-width-screens {
  .footer {
    padding: 0.75rem 0;
    line-height: 1.5;

    a {
      line-height: 1.5;
    }

    &__logo {
      margin-top: 0.75rem;
    }

    &__bottom {
      padding-top: 0.75rem;
      margin-top: 0.75rem;
    }
  }
}
