
.footer {
  align-self: end;
  background: $color--footer-bg-gradient $color--footer-bg;
  border: 0;
  color: $color--off-white;
  grid-area: footer;
  font-size: 1rem;
  line-height: 1.6;
  margin: 0;
  padding: $footer-padding-y 0;
  text-align: center;
  width: 100%;
  -webkit-user-select: none;
  user-select: none;

  @media screen and (min-width: $breakpoint--xl) {
    text-align: left;
  }

  > .container {
    position: relative;
  }

  a {
    color: $color--off-white;
    line-height: 2;
  }

  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0;
    width: 100%;
  }

  &__col {
    @extend %footer-column;

    &--subnav {
      @extend %footer-column;

      @media screen and (min-width: $breakpoint--xl) {
        display: flex;
        align-items: center;
      }
    }

    &--legal {
      @extend %footer-column;

      padding: 0;

      @media screen and (min-width: $breakpoint--xl) {
        flex-grow: 1;
        flex-basis: 0;
        text-align: right;
      }
    }
  }

  &__menu {
    vertical-align: baseline;

    @media screen and (min-width: $breakpoint--xs) {
      column-gap: 2rem;
      column-count: 2;
    }

    @media screen and (min-width: $breakpoint--xl) {
      column-gap: 4rem;
    }

    > li {
      @media screen and (min-width: $breakpoint--xs) {
        -webkit-column-break-inside: avoid;
        -moz-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid;
      }
    }
  }

  &__link {
    @extend %footer-links;

    &--legal {
      @extend %footer-links;

      text-decoration: none;

      &:link,
      &:visited {
        text-decoration: underline;
      }

    }
  }

  &__logo {
    display: inline-block;
    margin: 1rem auto 0;

    &:focus {
      outline: 0;
    }

    @media screen and (min-width: $breakpoint--xl) {
      margin: 0;
    }

    > img {
      box-sizing: content-box;
    }
  }

  &__bottom {
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 1px solid hsla(0, 0%, 100%, 0.3);
    width: 100%;
  }

  &__social-menu {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;

    @media screen and (min-width: $breakpoint--xl) {
      justify-content: flex-start;
    }

    > li {
      margin: 0 0.25rem 0 1.25rem;

      &:first-child {
        margin-left: 0;
      }

      > a {
        @extend %footer-links;

        transition: $icon-transition;
      }
    }

    svg {
      height: 2rem;
      width: auto;
      transition: $icon-transition;
    }
  }

  &__legal-menu {
    vertical-align: baseline;

    // stylelint-disable-next-line no-descending-specificity
    > li {
      display: inline-block;
      font-size: 0.8125rem;
      margin: 0.125rem 0.5rem;

      @media screen and (min-width: $breakpoint--m) {
        margin: 0;

        &:not(:first-child) {
          margin: 0 0 0 1rem;
        }
      }
    }
  }

  &__info {
    font-size: 1rem;
    line-height: 1;
    font-weight: 500;
    margin: 0;

    &:nth-child(2) {
      margin-top: 0.3125rem;
    }

    > strong {
      letter-spacing: 0.1ch;
      text-transform: uppercase;
    }

    .adr {
      .icon--map-pin {
        height: 0.8rem;
        margin: -0.1875rem 0.125rem 0 0.75rem;
      }

      a {
        &:focus {
          outline: 0;
        }

        &:focus-visible {
          color: $color--brand-contrast;
        }
      }

      @media screen and (max-width: $breakpoint--390) {
        a {
          display: inline-block;
        }
      }
    }
  }

  &__self-link {
    @extend %links-footer-base;

    text-transform: uppercase;

    &:focus {
      outline: 0;
    }
  }
}
